<%- include('../includes/head.ejs') %> 

<body>
	<!---start-wrap---->
	<%- include('../includes/header.ejs') %> 
	<!--- start-content---->
			<!--- start-content---->
			<div class="content details-page">
				<!---start-product-details--->
				<div class="product-details">
					<div class="wrap">
						<ul class="product-head">
							<li><a href="#">Home</a> <span>::</span></li>
							<li class="active-page"><a href="#">Product Page</a></li>
							<div class="clear"> </div>
						</ul>
					<!----details-product-slider--->
					<!-- Include the Etalage files -->
						<link rel="stylesheet" href="/css/etalage.css">
						<script src="/js/jquery.etalage.min.js"></script>
					<!-- Include the Etalage files -->
					<script>
							jQuery(document).ready(function($){
				
								$('#etalage').etalage({
									thumb_image_width: 300,
									thumb_image_height: 400,
									source_image_width: 900,
									source_image_height: 1000,
									show_hint: true,
									click_callback: function(image_anchor, instance_id){
										alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
									}
								});
								// This is for the dropdown list example:
								$('.dropdownlist').change(function(){
									etalage_show( $(this).find('option:selected').attr('class') );
								});
	
						});
					</script>
					<!----//details-product-slider--->
					<div class="details">
						<div class="details-left-slider">
							<ul id="etalage">
								<li>
									<a href="optionallink.html">
										<!-- <img class="etalage_thumb_image" src="/<%= prod.image %>" /> -->
										<img class="etalage_source_image" src="/<%= prod.image %>" />
									</a>
								</li>
							</ul>
						</div>
						<div class="details-left-info">
							<div class="details-right-head">
							<h1><%= prod.title %></h1>
							<ul class="pro-rate">
								<li><a class="product-rate" href="#"> <label> </label></a> <span> </span></li>
								<li><a href="#">0 Review(s) Add Review</a></li>
							</ul>
							<p class="product-detail-info"><%= prod.description %></p>
							<div class="product-more-details">
								<ul class="price-avl">
									<li class="price"><label>$<%= prod.price %></label></li>
									<div class="clear"> </div>
								</ul>
								
								<form action="/cart" method="post">
									<% if(isSingleProductPage === true) {%>
										<ul class="prosuct-qty">
											<select id="qtySelector" name="quantity">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
											</select>
										</ul>
									<% } %>
									<input type="hidden" name="productId" value="<%= prod._id %>">
									<button type="submit">add to cart</button>
								</form>

							</div>
						</div>
						</div>
						<div class="clear"> </div>
					</div>
				
					<div class="clear"> </div>
				</div>
				<!----product-rewies---->
				<div class="product-reviwes">
					<div class="wrap">
					<!--vertical Tabs-script-->
					<!---responsive-tabs---->
						<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>
						<script type="text/javascript">
							$(document).ready(function () {
								 $('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true,   // 100% fit in a container
										closed: 'accordion', // Start closed if in accordion view
										activate: function(event) { // Callback function if tab is switched
										var $tab = $(this);
										var $info = $('#tabInfo');
										var $name = $('span', $info);
											$name.text($tab.text());
											$info.show();
										}
									});
														
								 $('#verticalTab').easyResponsiveTabs({
										type: 'vertical',
										width: 'auto',
										fit: true
									 });
							 });
						</script>
					<!---//responsive-tabs---->
					<!--//vertical Tabs-script-->
					<!--vertical Tabs-->
					<div id="verticalTab">
						<ul class="resp-tabs-list">
							<li>Description</li>
							<li>Product tags</li>
							<li>Product reviews</li>
						</ul>
						<div class="resp-tabs-container vertical-tabs">
							<div>
								<h3> Details</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.</p>
								   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor</p>
							</div>
							<div>
								<h3>Product Tags</h3>
								<h4>Add Your Tags:</h4>
								<form>
									<input type="text"> <input type="submit" value="ADD TAGS"/>
									<span>Use spaces to separate tags. Use single quotes (') for phrases.</span>
								</form>
							</div>
							<div>
								<h3>Customer Reviews</h3>
								<p>There are no customer reviews yet.</p>
							</div>
						</div>
				   </div>
				   <div class="clear"> </div>
				   
				</div>
				</div>
				<div class="clear"> </div>
				<!--//vertical Tabs-->
				<!----//product-rewies---->
				<!---//End-product-details--->
				</div>
			</div>
			<!---- start-bottom-grids---->
	<!---- start-bottom-grids---->
	<%- include('../includes/bottom-grid.ejs') %> 
	<!---- //End-bottom-grids---->
	<!--- //End-content---->
	<!---start-footer---->
	<%- include('../includes/footer.ejs') %> 
	<!---//End-footer---->
	<!---//End-wrap---->
</body>
</html>

