	<%- include('../includes/head.ejs') %> 

	<body>
		<!---start-wrap---->
		<%- include('../includes/header.ejs') %> 

		<!----//End-image-slider---->
		
		<!----start-price-rage--->
		<%- include('../includes/price-range.ejs') %> 
		<!----//End-price-rage--->

		<!--- start-content---->
		<div class="content">
			<div class="wrap">
				
				<div class="content-right">
					<div class="product-grids">
						<!--- start-rate---->
							<script src="js/jstarbox.js"></script>
							<link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
							<script type="text/javascript">
									jQuery(function() {
										jQuery('.starbox').each(function() {
											var starbox = jQuery(this);
											starbox.starbox({
												average: starbox.attr('data-start-value'),
												changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
												ghosting: starbox.hasClass('ghosting'),
												autoUpdateAverage: starbox.hasClass('autoupdate'),
												buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
												stars: starbox.attr('data-star-count') || 5
											}).bind('starbox-value-changed', function(event, value) {
												if(starbox.hasClass('random')) {
													var val = Math.random();
													starbox.next().text(' '+val);
													return val;
												} 
											})
										});
									});
							</script>
							<!---//End-rate---->
							<!---caption-script---->
							<!---//caption-script---->
							<% if(prods.length > 0 ){ %>
							<% for(let product of prods) {%>
								<div onclick="location.href='/product/<%= product._id %>';" class="product-grid">
									<div class="product-grid-head">
										<ul class="grid-social">
											<li><a class="facebook" href="#"><span> </span></a></li>
											<li><a class="twitter" href="#"><span> </span></a></li>
											<li><a class="googlep" href="#"><span> </span></a></li>
											<div class="clear"> </div>
										</ul>
										<div class="block">
											<div class="starbox small ghosting"> </div> <span> (46)</span>
										</div>
									</div>
									<div class="product-pic">
										<a href="#"><img src="<%= product.image %>" title="product-name" /></a>
										<p>
										<a href="#"><%= product.title %></a>
										<span><%= product.description.substring(0,100) + '...' %></span>
										</p>
									</div>
									<div class="product-info">
										<div class="product-info-cust">
											<a href="/product/<%= product._id %>">Details</a>
										</div>
										<div class="product-info-price">
											$<%= product.price %>
										</div>
										<div class="clear"> </div>
									</div>
									<div class="more-product-info">
										<%- include('../includes/add-to-cart', {product: product}) %>
									</div>
								</div>
							<% } %>
							<% } else{ %>
							<p>No Products Found!</p>
							<% } %>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!---- start-bottom-grids---->
		<%- include('../includes/bottom-grid.ejs') %> 
		<!---- //End-bottom-grids---->
		<!--- //End-content---->
		<!---start-footer---->
		<%- include('../includes/footer.ejs') %> 
		<!---//End-footer---->
		<!---//End-wrap---->
	</body>
</html>

