<ul class="megamenu skyblue">
	<li class="grid <%= path === '/' ? 'active' : '' %>">
		<a class="color2" href="/">Home</a>
	</li>
	<li class="grid <%= path === '/products' ? 'active' : '' %>">
		<a class="color2" href="/products">Products</a>
	</li>
	<li class="grid <%= path === '/cart' ? 'active' : '' %>">
		<a class="color2" href="/cart">Cart</a>
	</li>
	<li class="grid <%= path === '/checkout' ? 'active' : '' %>">
		<a class="color2" href="/checkout">Checkout</a>
	</li>
	<li class="grid <%= path === '/orders' ? 'active' : '' %>">
		<a class="color2" href="/orders">Orders</a>
	</li>
	<li class="grid <%= path === '/admin/add-product' ? 'active' : '' %>">
		<a class="color2" href="/admin/add-product">Add Product</a>
	</li>
	<li class="grid <%= path === '/admin/products' ? 'active' : '' %>">
		<a class="color2" href="/admin/products">View Products</a>
	</li>
</ul>
